/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1140px;
  flex-wrap: wrap;
}

/* HEADER CSS */
.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  width: 80px;
  height: 60px;
  margin-right: 10px;
}


.mobileMenuButton {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 100;
  position: absolute;
  top: 33%;
  right: 10px;
  display: none;
}


.bar {
  width: 20px;
  height: 2px;
  background-color: var(--text-color);
  margin: 3px 0;
}


.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  position: relative;
}


.navLinks.open {
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 99;
}


.navLinks li {
  font-size: 1rem;
}


.navLinks .menu_link {
  text-decoration: none;
  color: var(--link-color);
}


.navLinks .menu_link:hover {
  color: var(--link-color);
  transform: scale(1.05);
}


.themeToggleBtn {
  background-color: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  color: #f3f8fc;
  transition: color 0.3s;
}

.light .themeToggleBtn {
  color: var(--link-color);
}


.dark .themeToggleBtn {
  background-color: #00000083;
  color: var(--text-color);
}


@media (max-width: 768px) {
  .featuredSection {
    flex-direction: column-reverse;
    gap: 50px;
  }


  .featuredContent {
    max-width: 100% !important;
    padding: 0 5px;
  }


  .featuredImage {
    max-width: 80% !important;
    margin-top: 50px;
  }


  .nav {
    flex-direction: column;
    align-items: flex-start;
  }


  .navLinks {
    display: none;
  }


  .navLinks.open {
    display: flex;
  }


  .mobileMenuButton {
    display: block;
  }
}

/* header css end */

ul li {
  list-style: none;
}

/* FOOTER CSS START */
/* Base styles */
.footer {
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Light theme */
.light .footer {
  background-color: #f3f7fb;
  color: #000000;
}

/* Dark theme */
.dark .footer {
  background-color: #121212;
  color: #ffffff;
}

/* FOOTER CSS END */